In [64]:
import pyspark
from pyspark.sql import SparkSession

import pandas as pd

In [65]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [66]:
spark.version

'3.5.5'

In [67]:
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .parquet("../data/yellow_tripdata_2024-10.parquet")

In [68]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-10-01 00:30:44|  2024-10-01 00:48:26|              1|          3.0|         1|                 N|         162|         246|           1|       18.4|  1.0|    0.5|       1.5|         0.0|                  1.0|        24.9|                 2.5|        0.0|
|       1| 2024-10-01 00:12:20|  2024-10-01 00:25:25|              1|          2.2|         1|                 N|          48|         236|           1|       14.2|  3.5|    0.5|       3.8|         0.0|                  1.0|        23.0|                 2.5|        0.0|
|       1| 2024-10-01 00:04:46|  2024-10-01 00:13:52|              1|          2.7|         1|                 N|         142|          24|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       1| 2024-10-01 00:12:10|  2024-10-01 00:23:01|              1|          3.1|         1|                 N|         233|          75|           1|       14.2|  3.5|    0.5|       2.0|         0.0|                  1.0|        21.2|                 2.5|        0.0|
|       1| 2024-10-01 00:30:22|  2024-10-01 00:30:39|              1|          0.0|         1|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       2| 2024-10-01 00:31:20|  2024-10-01 00:36:00|              2|         0.97|         1|                 N|         137|         137|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|
|       1| 2024-10-01 00:42:57|  2024-10-01 00:49:01|              1|          1.3|         1|                 N|         142|          48|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5|        0.0|
|       1| 2024-10-01 00:59:55|  2024-10-01 01:02:24|              1|          0.5|         1|                 N|         230|         161|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|
|       1| 2024-10-01 00:00:47|  2024-10-01 00:04:22|              0|          1.1|         1|                 N|         142|         237|           1|        7.2|  3.5|    0.5|       3.0|         0.0|                  1.0|        15.2|                 2.5|        0.0|
|       1| 2024-10-01 00:17:36|  2024-10-01 00:26:22|              1|          2.2|         1|                 N|         162|         145|           1|       11.4|  3.5|    0.5|       3.3|         0.0|                  1.0|        19.7|                 2.5|        0.0|
|       1| 2024-10-01 00:49:00|  2024-10-01 00:52:20|              1|          0.6|         1|                 N|         229|         162|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|
|       2| 2024-10-01 00:07:26|  2024-10-01 00:13:20|              1|          0.9|         1|                 N|         162|         162|           1|        7.9|  1.0|    0.5|      3.87|         0.0|                  1.0|       16.77|                 2.5|        0.0|
|       2| 2024-10-01 00:17:11|  2024-10-01 00:25:00|              1|         1.33|         1|                 N|         162|         230|           1|        9.3|  1.0|    0.5|       2.0|         0.0|                  1.0|        16.3|                 2.5|        0.0|
|       2| 2024-10-01 00:00:34|  2024-10-01 00:05:13|              1|         1.79|         1|                 N|         211|         234|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|        0.0|
|       2| 2024-09-30 23:58:40|  2024-10-01 00:20:26|              1|         5.16|         1|                 N|         142|           7|           1|       24.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        29.7|                 2.5|        0.0|
|       1| 2024-10-01 00:55:29|  2024-10-01 01:42:35|              1|         11.3|        99|                 N|         161|         197|           1|       39.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       47.94|                 0.0|        0.0|
|       1| 2024-10-01 00:08:59|  2024-10-01 00:40:58|              1|         20.6|         1|                 N|         132|         243|           2|       76.5| 2.75|    0.5|       0.0|        6.94|                  1.0|       87.69|                 0.0|       1.75|
|       2| 2024-10-01 00:18:38|  2024-10-01 00:36:47|              2|         7.42|         1|                 N|         239|         247|           4|      -33.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -38.1|                -2.5|        0.0|
|       2| 2024-10-01 00:18:38|  2024-10-01 00:36:47|              2|         7.42|         1|                 N|         239|         247|           4|       33.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        38.1|                 2.5|        0.0|
|       2| 2024-10-01 00:39:33|  2024-10-01 00:53:59|              1|         4.49|         1|                 N|         247|          60|           2|       21.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.4|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [69]:
df_part = df.repartition(4)

df_part.write.parquet("../data/part", mode="overwrite")

In [70]:
df.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'Airport_fee']

In [71]:
from pyspark.sql import functions as F

In [72]:
df_edit = df \
        .withColumn("pickup_date", F.to_date(F.col("tpep_pickup_datetime"))) \
        .withColumn("dropoff_date", F.to_date(F.col("tpep_dropoff_datetime"))) \
        .withColumn("pickup_time", F.date_format("tpep_pickup_datetime", "HH:mm:ss")) \
        .withColumn("dropoff_time", F.date_format("tpep_dropoff_datetime", "HH:mm:ss")) \
        .withColumn("time_diff", ( F.col("tpep_dropoff_datetime") - F.col("tpep_pickup_datetime") ))

In [73]:
df_edit.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'Airport_fee',
 'pickup_date',
 'dropoff_date',
 'pickup_time',
 'dropoff_time',
 'time_diff']

In [74]:
df_edit.registerTempTable('temp_data')

/home/bryan/documents/data-zoomcamp-hw/hw5/.venv/lib/python3.10/site-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [75]:
spark.sql("""
        SELECT
            count(1)
        FROM
            temp_data
        WHERE
            tpep_pickup_datetime LIKE "2024-10-15%"
        """).show()

+--------+
|count(1)|
+--------+
|  128893|
+--------+

In [61]:
df_edit.select("time_diff").agg({"time_diff": "max"}).collect()

[Row(max(time_diff)=datetime.timedelta(days=6, seconds=67024))]

In [78]:
!wget -P ../data/zone_lookup https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-03-08 02:12:56--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 52.85.39.65, 52.85.39.153, 52.85.39.117, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|52.85.39.65|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘../data/zone_lookup/taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0.01s

2025-03-08 02:12:57 (864 KB/s) - ‘../data/zone_lookup/taxi_zone_lookup.csv’ saved [12331/12331]

In [79]:
df_zone = spark.read \
        .option("header", "true") \
        .option("inferSchema", "true") \
        .csv("../data/zone_lookup/taxi_zone_lookup.csv")

In [82]:
df_zone.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [81]:
df_part.select("PULocationID").show()

+------------+
|PULocationID|
+------------+
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
|         196|
+------------+
only showing top 20 rows

In [90]:
df_zone_tmp = df_zone \
    .withColumnRenamed('LocationID', 'PULocationID')

In [92]:
# Need to merge the pickup location zones to determine the name

df_join = df_part.join(df_zone_tmp, on=['PULocationID'], how='left')

In [93]:
df_join.show()

+------------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------+--------------------+------------+
|PULocationID|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|  Borough|                Zone|service_zone|
+------------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------+--------------------+------------+
|          48|       1| 2024-10-03 03:40:19|  2024-10-03 03:46:11|              1|          0.6|         1|                 N|         161|           1|        6.5|  3.5|    0.5|       2.9|         0.0|                  1.0|        14.4|                 2.5|        0.0|Manhattan|        Clinton East| Yellow Zone|
|         230|       2| 2024-10-10 14:08:03|  2024-10-10 14:26:53|              1|         1.12|         1|                 N|         141|           1|       16.3|  0.0|    0.5|      4.06|         0.0|                  1.0|       24.36|                 2.5|        0.0|Manhattan|Times Sq/Theatre ...| Yellow Zone|
|         148|       1| 2024-10-05 23:46:46|  2024-10-06 00:29:08|              2|          8.2|         1|                 N|         188|           1|       42.2|  3.5|    0.5|      11.8|         0.0|                  1.0|        59.0|                 2.5|        0.0|Manhattan|     Lower East Side| Yellow Zone|
|         261|       2| 2024-10-09 11:26:13|  2024-10-09 11:44:40|              1|         1.45|         1|                 N|         114|           1|       17.0|  0.0|    0.5|       6.3|         0.0|                  1.0|        27.3|                 2.5|        0.0|Manhattan|  World Trade Center| Yellow Zone|
|          68|       1| 2024-10-10 14:09:32|  2024-10-10 14:18:16|              1|          0.9|         1|                 Y|          90|           1|        7.9|  2.5|    0.5|      2.35|         0.0|                  1.0|       14.25|                 2.5|        0.0|Manhattan|        East Chelsea| Yellow Zone|
|         151|       2| 2024-10-01 15:47:00|  2024-10-01 15:54:13|              1|         1.08|         1|                 N|         239|           1|        9.3|  0.0|    0.5|      2.66|         0.0|                  1.0|       15.96|                 2.5|        0.0|Manhattan|    Manhattan Valley| Yellow Zone|
|         161|       1| 2024-10-02 11:17:03|  2024-10-02 11:30:23|              2|          1.3|         1|                 N|         141|           2|       11.4|  2.5|    0.5|       0.0|         0.0|                  1.0|        15.4|                 2.5|        0.0|Manhattan|      Midtown Center| Yellow Zone|
|         162|       2| 2024-10-02 07:40:58|  2024-10-02 07:56:22|              4|         2.59|         1|                 N|         113|           1|       15.6|  0.0|    0.5|       0.0|         0.0|                  1.0|        19.6|                 2.5|        0.0|Manhattan|        Midtown East| Yellow Zone|
|          68|       2| 2024-10-09 18:55:48|  2024-10-09 19:14:14|              1|         1.93|         1|                 N|         211|           2|       16.3|  2.5|    0.5|       0.0|         0.0|                  1.0|        22.8|                 2.5|        0.0|Manhattan|        East Chelsea| Yellow Zone|
|         230|       1| 2024-10-08 17:00:53|  2024-10-08 17:38:09|              2|          4.9|         1|                 N|          13|           1|       33.8|  5.0|    0.5|      8.06|         0.0|                  1.0|       48.36|                 2.5|        0.0|Manhattan|Times Sq/Theatre ...| Yellow Zone|
|         170|       2| 2024-10-07 12:35:00|  2024-10-07 12:44:02|              1|         1.32|         1|                 N|         229|           1|       10.0|  0.0|    0.5|       2.8|         0.0|                  1.0|        16.8|                 2.5|        0.0|Manhattan|         Murray Hill| Yellow Zone|
|         236|       2| 2024-10-01 10:49:05|  2024-10-01 11:09:11|              1|         1.92|         1|                 N|         163|           1|       17.7|  0.0|    0.5|       3.5|         0.0|                  1.0|        25.2|                 2.5|        0.0|Manhattan|Upper East Side N...| Yellow Zone|
|         144|       1| 2024-10-03 02:55:56|  2024-10-03 03:03:53|              2|          1.6|         1|                 N|         209|           1|       10.7|  3.5|    0.5|       2.0|         0.0|                  1.0|        17.7|                 2.5|        0.0|Manhattan| Little Italy/NoLiTa| Yellow Zone|
|         164|       2| 2024-10-08 20:49:02|  2024-10-08 20:58:18|              1|         0.96|         1|                 N|         230|           1|       10.0|  1.0|    0.5|       3.0|         0.0|                  1.0|        18.0|                 2.5|        0.0|Manhattan|       Midtown South| Yellow Zone|
|         186|       2| 2024-10-01 19:18:49|  2024-10-01 19:28:08|              1|         0.68|         1|                 N|         170|           1|        9.3|  2.5|    0.5|      2.84|         0.0|                  1.0|       18.64|                 2.5|        0.0|Manhattan|Penn Station/Madi...| Yellow Zone|
|         100|       1| 2024-10-03 17:04:01|  2024-10-03 17:18:05|              1|          2.2|         1|                 N|         158|           1|       14.9|  5.0|    0.5|       0.0|         0.0|                  1.0|        21.4|                 2.5|        0.0|Manhattan|    Garment District| Yellow Zone|
|         140|       2| 2024-10-07 10:12:40|  2024-10-07 10:29:10|              1|         4.73|         1|                 N|         232|           1|       24.0|  0.0|    0.5|       5.6|         0.0|                  1.0|        33.6|                 2.5|        0.0|Manhattan|     Lenox Hill East| Yellow Zone|
|         234|       2| 2024-10-07 22:05:09|  2024-10-07 22:10:11|              1|         0.79|         1|                 N|          90|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|Manhattan|            Union Sq| Yellow Zone|
|         236|       1| 2024-10-02 08:55:26|  2024-10-02 09:00:36|              1|          1.1|         1|                 N|         264|           1|        7.2|  2.5|    0.5|       2.0|         0.0|                  1.0|        13.2|                 2.5|        0.0|Manhattan|Upper East Side N...| Yellow Zone|
|         107|       2| 2024-10-09 17:48:18|  2024-10-09 17:57:45|              1|         0.71|         1|                 N|         234|           1|        9.3|  2.5|    0.5|      3.16|         0.0|                  1.0|       18.96|                 2.5|        0.0|Manhattan|            Gramercy| Yellow Zone|
+------------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+---------+--------------------+------------+
only showing top 20 rows

In [97]:
df_join.groupBy(["Zone"]).count().sort(F.asc("count")).show()

+--------------------+-----+
|                Zone|count|
+--------------------+-----+
|Governor's Island...|    1|
|       Rikers Island|    2|
|       Arden Heights|    2|
|         Jamaica Bay|    3|
| Green-Wood Cemetery|    3|
|Charleston/Totten...|    4|
|   Rossville/Woodrow|    4|
|       Port Richmond|    4|
|Eltingville/Annad...|    4|
|       West Brighton|    4|
|         Great Kills|    6|
|        Crotona Park|    6|
|Heartland Village...|    7|
|     Mariners Harbor|    7|
|Saint George/New ...|    9|
|             Oakwood|    9|
|       Broad Channel|   10|
|New Dorp/Midland ...|   10|
|         Westerleigh|   12|
|     Pelham Bay Park|   12|
+--------------------+-----+
only showing top 20 rows